process {

	$make_hisat2_index_1_1.container = "makaho/hisat2-zstd:latest"
	$hisat2_1_1.container = "makaho/hisat2-zstd:latest"
	$samtools_sort_1_1.container = "lifebitai/samtools:latest"
	$mark_duplicates_1_2.container = "broadinstitute/gatk:latest"
	$haplotypecaller_1_3.container = "broadinstitute/gatk:latest"
	$merge_vcfs_1_3.container = "broadinstitute/gatk:latest"

}