process {

	$bwa_1_1.memory = {5.Gb*task.attempt}
	$bwa_1_1.cpus = 4
	$mark_duplicates_1_2.memory = {5.Gb*task.attempt}
	$mark_duplicates_1_2.cpus = 4
	$haplotypecaller_1_3.memory = {2.Gb*task.attempt}
	$haplotypecaller_1_3.cpus = 4
	$merge_vcfs_1_3.memory = {5.Gb*task.attempt}
	$merge_vcfs_1_3.cpus = 4

}